body {
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
}

li {
    border: whitesmoke;
    border-style:ridge;
}

.ranking-order {
    padding: 1rem;
}

.sustainable-practice {
    border-style: groove;
    border: 1px black;
}
  
.draggable-list li {
    display: flex;
    flex: 1;
}

.draggable-list .number {
    border: 1px black;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 25px;
    height: 85px;
    width: 50px;
    padding: 20px;
}

/* .draggable-list li.over .draggable {
    background-color: white;
    opacity: 0.8;
} */

.draggable {
    padding: 1rem;
    cursor: move;
    display: flex;
    width: 100px;
}

.back-button {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
}

.rank-text { margin-bottom: 1rem; }

kbd {
    font-size: inherit;
    font-family: inherit;
}

input {
    margin-top: 10px;
    margin-bottom: 10px;
}

.success {
    color: green;
}

.error {
    color: red;
}

.message {
    display: block;
}

.linkPadding {
    padding: 25px;
    color: black;
    font-weight: bold;
}

.backgroundColor {
    background-color: aquamarine;
}

.pickPadding {
    padding-bottom: 20px;
}